.nav {
    background-color: #112449ab;
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navItem {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    & > a {
        color: inherit;
        text-decoration: none;
    }
}

.navItem:hover {
    text-decoration: underline;
}